/*==========  section footer ==========*/
footer {
  padding: 54px 0;
  background: url("../img/footer-bg.png") no-repeat center;
    background-size: cover;
  position: relative;
  z-index: 1;
  color: #fff;
  overflow: hidden; }
  footer:before, footer:after {
    content: '';
    position: absolute;
    z-index: -1; }
  footer:before {
    width: 425px;
    height: 534px;
    background: url("../img/footer-decor1.svg") no-repeat center;
      background-size: 100%;
    left: 0;
    top: -53px; }
  footer:after {
    width: 699px;
    height: 589px;
    background: url("../img/footer-decor2.svg") no-repeat center;
      background-size: 100%;
    top: 38px;
    right: 0; }

.footer-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  padding: 40px 0 0;
  border-top: 0.75px solid rgba(255, 255, 255, 0.27451);
  margin: 76px 0 0; }

.address {
  max-width: 325px; }

.phone, .mail {
  font-size: 16px;
  color: #fff; }
  .phone:hover, .mail:hover {
    color: #E12651; }

.footer-company {
  max-width: 145px;
  margin-left: auto; }
  .footer-company .list-social {
    margin: 0 auto 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.resident {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 62px 0 45px; }

.resident-logo {
  min-width: 51px;
  margin: 0 18px 0 0; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .list-social li {
    margin: 0 12px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      fill: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 32px;
      height: 32px;
      border: 2px solid #fff;
        border-radius: 50%;
      padding: 4px; }
      .list-social li a:hover {
        fill: #E12651; }

.tg-icon {
  width: 14.6px;
  height: 14.5px; }

.vk-icon {
  width: 16.48px;
  height: 9.23px; }

.youtube-icon {
  width: 13.19px;
  height: 9.24px; }

.footer-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.footer-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 75px 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 30px; }
  .footer-menu li {
    max-width: 117px; }
    .footer-menu li a {
      color: #fff; }
      .footer-menu li a:hover {
        color: #E12651; }

.footer-about {
  margin: 0 auto 0 0;
  font-size: 14px;
  max-width: 200px; }
  .footer-about p {
    margin: 0 0 20px; }
    .footer-about p:last-child {
      margin: 0; }

.footer-submenu {
  margin: 0 32px 0 0;
  font-size: 14px;
  max-width: 161px; }
  .footer-submenu li {
    margin: 0 0 20px; }
    .footer-submenu li:last-child {
      margin: 0; }
    .footer-submenu li a {
      color: #fff; }
      .footer-submenu li a:hover {
        color: #E12651; }

/*==========  section footer end  ==========*/
