/*==========  section  ==========*/
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 25px 0; }

.phone-icon {
  margin: 0 23px 0 0; }

.nav-menu {
  margin: 0 auto; }
  .nav-menu .nav-item {
    margin: 0 40px 0 0; }
    .nav-menu .nav-item:last-child {
      margin: 0; }
  .nav-menu .nav-link {
    padding: 0;
    color: #fff; }
    .nav-menu .nav-link:hover {
      color: #E12651; }
  .nav-menu .dropdown-toggle:after {
    display: none; }

.logo {
  max-width: 195px; }

.header {
  position: relative; }

.breadcrumb-nav {
  margin: 45px 0;
  width: 100%; }

.breadcrumb {
  margin: 0; }

/*==========  section end  ==========*/
/*==========  section mobile-menu ==========*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #0E1D42;
  max-width: 320px;
  display: none; }
  .mobile-menu:before {
    content: '';
    position: absolute;
    width: 320px;
    height: 271px;
    background: url("../img/menu-decor.svg") no-repeat center;
      background-size: 100%;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .mobile-menu__head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 25px 10px;
    border-bottom: 0.75px solid rgba(255, 255, 255, 0.098039); }
  .mobile-menu__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    fill: #fff;
    width: 16px;
    height: 16px; }
  .mobile-menu__body {
    width: 100%;
    padding: 35px 0; }
  .mobile-menu .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .mobile-menu .nav-menu .nav-item {
      width: 100%;
      margin: 0 0 23px; }
      .mobile-menu .nav-menu .nav-item:last-child {
        margin: 0; }
  .mobile-menu .dropdown-toggle:after {
    display: block;
    border: none;
    margin-left: auto;
    position: absolute;
    right: 10px;
    width: 9px;
    height: 16px;
    background: url("../img/arrow-bottom.svg") no-repeat center;
      background-size: 100%; }
  .mobile-menu .dropdown-toggle.show:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .mobile-menu .nav-link {
    font-weight: 600;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
    position: relative;
    width: 100%; }
    .mobile-menu .nav-link sup {
      border-radius: 50%;
      background: #E12651;
      width: 6px;
      height: 6px;
      top: -5px;
      margin-left: 5px; }
  .mobile-menu .dropdown-menu {
    position: relative !important;
    background: transparent;
    border: none;
      border-radius: 0;
    -webkit-transform: none !important;
            transform: none !important;
    padding: 22px; }
    .mobile-menu .dropdown-menu li {
      margin: 0 0 20px; }
      .mobile-menu .dropdown-menu li:last-child {
        margin: 0; }
  .mobile-menu .dropdown-item {
    color: #fff;
    padding: 0; }
    .mobile-menu .dropdown-item:hover {
      background: transparent;
      color: #E12651; }

.link-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #E12651;
  width: 9px;
  height: 16px; }

.btn-burger {
  width: 39px;
  cursor: pointer;
  display: none; }
  .btn-burger:before, .btn-burger:after {
    content: '';
    display: block;
    background: #E12651;
    height: 4px;
    width: 100%;
    border-radius: 18px; }
  .btn-burger:before {
    margin: 0 0 7px; }

/*==========  section mobile-menu end  ==========*/
