/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1400px) {
  .regulatory-requirements:after {
    width: 503px;
    height: 422px; }
  .risks:before {
    width: 503px;
    height: 422px;
    right: 0;
    bottom: -280px; }
  .risks-image {
    max-width: 700px; }
  footer:before {
    width: 325px;
    height: 454px; }
  footer:after {
    width: 499px;
    height: 489px; } }

@media only screen and (max-width: 1250px) {
  .home-decor-title:before {
    display: none; } }

@media only screen and (max-width: 1200px) {
  .nav-menu .nav-item {
    margin: 0 20px 0 0; }
  .logo {
    max-width: 138px; }
  .shield:before {
    display: none; }
  .home-wrapper {
    background: linear-gradient(102deg, #0E1D42 13%, #c7254f 91.31%); }
  .regulatory-requirements:after {
    display: none; }
  .risks-box {
    max-width: 320px; }
    .risks-box__icon {
      width: 170px; }
    .risks-box__text {
      width: calc(100% - 170px); }
  .decor-image1 {
    right: 0;
    max-width: 330px; }
  .decor-image2 {
    left: 0;
    max-width: 300px; }
  .news-card__body {
    padding: 23px 17px 18px; }
  .news-card__title {
    margin: 0 0 20px; }
  .news-card-min {
    height: 420px; }
  .partners-home .title-decor__text {
    font-size: 100px; }
  .projects-title .title-decor__text {
    font-size: 170px;
    right: -200px; }
  .projects:before {
    display: none; }
  .sorting-tabs .nav-item {
    margin: 0 30px 0 0; }
  .calendar-events-slider .slick-next {
    right: 10px; }
  .calendar-events-slider .slick-prev {
    left: 10px; }
  .reports-card .news-card__body {
    padding-top: 50px; }
  .module-tabs .nav-link {
    font-size: 20px;
    padding: 18px 30px; }
  .module-system-list {
    max-width: 480px; }
  .callback-help:before {
    display: none; }
  .form-group .consent {
    margin: 0 auto 30px;
    text-align: center; }
  .form-group button {
    margin: 0 auto; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header {
    padding: 39px 0; }
    header .nav-menu {
      display: none; }
    header .logo {
      margin: 0 auto; }
  .btn-burger {
    display: block; }
  .view-more {
    display: none; }
  .home-image img {
    margin: 0 auto; }
  .home .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
    .home .btn-group .btn {
      margin: 0 0 21px;
      max-width: 300px;
      width: 100%; }
      .home .btn-group .btn:last-child {
        margin: 0; }
  .shield h2 {
    max-width: 350px; }
  .shield .description {
    max-width: 320px; }
  .why-important-content {
    margin: 0 0 76px; }
  .tab-content {
    padding: 0 10px; }
  .nav-tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .nav-tabs .nav-item {
      width: 33.3%;
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto;
      margin: 0 0 26px; }
      .nav-tabs .nav-item:last-child {
        margin: 0; }
    .nav-tabs .nav-link {
      padding: 0 10px 10px; }
      .nav-tabs .nav-link:before {
        display: none; }
  .title-decor__text {
    display: none; }
  .tasks h2 {
    margin: 0 auto 38px; }
  .tasks span.title-decor__text {
    display: none; }
  .tasks-wrapper {
    margin: -34px 0;
    padding: 26px 16px 45px; }
  .task-slider-image {
    max-width: none; }
  .task-content {
    max-width: none;
    padding: 0;
    margin: 40px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .task-content .btn {
      margin: 0 auto;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .task-content .slider-nav {
      margin: 0 auto 20px;
      width: 100%; }
    .task-content .counter-slide {
      margin-left: auto; }
  .task-slider-content {
    margin: 0 0 20px; }
  .tasks-wrapper:before {
    display: none; }
  .regulatory-requirements-right {
    padding: 64px 10px; }
  .list-laws__icon {
    margin: 0 16px 0 0; }
  .risks-wrapper {
    max-height: none;
    max-width: none;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    height: auto; }
    .risks-wrapper .mCSB_scrollTools_horizontal {
      display: block !important; }
    .risks-wrapper .mCSB_scrollTools_vertical {
      display: none !important; }
    .risks-wrapper .mCSB_container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      padding: 0; }
    .risks-wrapper .mCSB_container_wrapper {
      position: relative; }
  .risks-box {
    max-width: 420px;
    min-width: 370px;
    width: 100%;
    margin: 0 20px 0 0; }
    .risks-box:last-child {
      margin: 0; }
  .risks-image, .risks:before {
    display: none; }
  .reviews {
    padding: 50px 0 60px; }
    .reviews h2 {
      margin: 0 auto 12px; }
    .reviews .title-decor__text {
      display: none; }
  .spectrum-demonstration:before, .spectrum-demonstration:after {
    display: none; }
  .decor-image {
    display: none; }
  .press-center {
    padding: 33px 0 66px; }
    .press-center:before {
      display: none; }
    .press-center h2 {
      margin: 0 auto 66px; }
  .footer-company {
    margin: 50px auto 0; }
  .resident {
    margin: 21px auto 28px; }
  footer {
    padding: 50px 0 58px; }
  .address {
    max-width: 287px; }
  .copyright-wrapper {
    max-width: 197px; }
  .breadcrumb-nav {
    margin: 35px 0 38px; }
  .partners-home h2 {
    margin: 0 auto 21px; }
  .sorting-tabs {
    margin: 0 auto 43px; }
  .clients-home-wrapper {
    padding: 29px 13px 46px; }
  .projects {
    padding: 80px 0 106px; }
  .sorting-tabs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .sorting-tabs .nav-item {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 0; }
    .sorting-tabs .nav-link {
      padding: 0 0 4px; }
  .home-module .btn-group {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .wrapper-content {
    padding: 50px 40px; }
  .description-module .list-decor {
    max-width: none;
    margin: 29px 0 0; }
  .description-module__image {
    margin: 0 auto; }
  .module-system-tab-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .module-system-tab-wrapper p {
      margin: 0 auto 18px; }
      .module-system-tab-wrapper p:after {
        display: none; }
  .module-system-list {
    max-width: 400px; }
    .module-system-list__item {
      font-size: 16px; }
    .module-system-list__icon {
      margin: 0 15px 0 0; }
  .module-tabs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0; }
    .module-tabs .nav-item {
      margin: 0 10px 0 0;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
    .module-tabs .nav-link {
      padding: 18px 30px; }
  .module-system h2 {
    margin: 0 auto 21px; }
  .module-system .wrapper-content {
    margin: -30px auto; }
  .tab-content-module {
    padding: 0; }
  .case-logo {
    max-width: 300px; }
  .case-details-item__title-decor {
    display: none; }
  .case-details {
    padding: 48px 0 56px; }
    .case-details:after {
      display: none; }
  .case-details-item {
    padding: 0;
    margin: 0 0 70px; }
    .case-details-item:nth-child(2) {
      padding: 0; }
  .description-module-audit-slider {
    width: calc(100% + 40px); }
    .description-module-audit-slider .slick-next {
      right: 20px; }
  .description-module-audit .wrapper-content:before {
    width: 597px;
    height: 333px; }
  .peculiarities-module__image {
    margin: 44px auto 0; }
  .information-module-wrapper {
    padding: 64px 17px 59px; }
    .information-module-wrapper h2 {
      margin: 13px 0 25px; }
  .information-module-item {
    min-width: auto;
    width: 100%; }
  .information-module-slider {
    margin: 25px auto 0; }
  .module-system-audit .wrapper-content {
    margin: 0 auto -30px; }
  .search-example__image {
    margin: 0 auto; }
  .search-example-gallery {
    margin: 14px auto 0;
    max-width: 415px;
    width: 100%; }
  .search-example-content {
    max-width: none;
    margin: 36px 0 0; }
  .home-help h1 {
    position: relative;
    padding: 0 62px 0 0; }
    .home-help h1:before {
      content: '';
      position: absolute;
      width: 62px;
      height: 80px;
      background: url("../img/title-decor.svg") no-repeat center;
        background-size: 100%;
      right: 0;
      top: 0; }
  .program-help {
    padding: 0 0 125px; }
    .program-help__image {
      margin: 0 auto 31px; }
    .program-help h2 {
      margin: 0 0 31px;
      max-width: 400px; }
    .program-help .box-text {
      margin: 0 0 22px;
      max-width: none; }
    .program-help h4 {
      max-width: none;
      font-size: 16px; }
  .pdf-box {
    margin: 0 auto 26px; }
  .wrapper-content .title-decor__text {
    display: none; }
  .help-question .wrapper-content {
    padding: 39px 40px 170px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .home-content {
    padding: 0; }
  .home {
    padding: 167px 0 0; }
    .home:before {
      display: none; }
    .home h3 {
      font-size: 24px;
      margin: 36px 0 70px; }
  h1 {
    font-size: 32px;
    line-height: 111.2%; }
  .home-wrapper {
    background: url("../img/home-bg-mobile.jpg") no-repeat center top;
      background-size: cover; }
  .shield-image {
    display: none; }
  .shield {
    padding: 76px 0 99px; }
    .shield h2 {
      max-width: none;
      margin: 0 0 29px; }
    .shield .description {
      max-width: none; }
  .partners-company {
    margin: 47px 0 0; }
  h2 {
    font-size: 24px; }
  .why-important {
    padding: 0 0 290px; }
  .why-important-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .why-important-box {
    max-width: none;
    min-width: 311px;
    width: 311px;
    margin: 0 20px 0; }
    .why-important-box__percent {
      margin: 0 auto; }
    .why-important-box__text {
      margin: 0 auto;
      max-width: 167px; }
  .regulatory-requirements-wrapper {
    border: none;
    margin: 0 0 44px; }
  .regulatory-requirements-left, .regulatory-requirements-right {
    width: 100%; }
  .regulatory-requirements-left {
    padding: 93px 0 138px; }
    .regulatory-requirements-left:after {
      display: none; }
    .regulatory-requirements-left h2 {
      margin: 0 0 23px; }
    .regulatory-requirements-left .box-text {
      margin: 0 0 27px; }
  .regulatory-requirements__image {
    left: -10px;
    top: 285px;
    -webkit-transform: none;
            transform: none;
    max-width: none;
    width: calc(100% + 20px); }
  .regulatory-requirements {
    background: linear-gradient(172deg, #0E1D42 0.39%, #E12651 186.53%); }
    .regulatory-requirements .mb-35 {
      margin-bottom: 20px; }
  .regulatory-requirements-right {
    padding: 43px 0 64px; }
    .regulatory-requirements-right:before {
      left: -15px; }
    .regulatory-requirements-right:after {
      display: none; }
  .reviews-slider .reviews-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .reviews-box {
    background: #fff;
    padding: 34px 14px 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    margin: 0 0 42px; }
    .reviews-box-body {
      margin: 0;
      width: 100%;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      position: initial;
      min-height: auto; }
      .reviews-box-body:before {
        display: none; }
    .reviews-box-company {
      padding: 0;
      border: none;
      max-width: 100%; }
      .reviews-box-company__icon {
        position: absolute;
        left: 0;
        bottom: 0; }
      .reviews-box-company__logo {
        margin: 0 0 13px;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
    .reviews-box-author {
      width: 100%;
      margin: 0 0 39px; }
      .reviews-box-author br {
        display: none; }
    .reviews-box .box-text {
      padding: 0;
      max-width: none;
      width: 100%; }
    .reviews-box .link-view {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin: 65px auto 0; }
  .reviews-box:nth-child(even) .reviews-box-body {
    margin: 0; }
  .reviews {
    background: transparent; }
    .reviews .slick-dots {
      margin: 0 auto 54px; }
  .spectrum-demonstration {
    padding: 46px 0 63px;
    background-size: 2497px;
    background-position: 30% center; }
    .spectrum-demonstration__content {
      margin: 0 0 65px; }
    .spectrum-demonstration .description {
      font-size: 20px; }
    .spectrum-demonstration h2 {
      margin: 10px 0 28px;
      font-size: 35px; }
  .consent {
    margin: 0 auto 38px;
    text-align: center; }
  .form-callback {
    padding: 0; }
    .form-callback button {
      margin: 0 auto; }
  .line-decor {
    display: none; }
  footer:before, footer:after {
    display: none; }
  .copyright-wrapper {
    max-width: none;
    margin: 0 0 30px;
    width: 100%; }
  .address {
    max-width: none;
    width: 100%;
    margin: 0 0 30px; }
  .footer-menu {
    padding: 0; }
  .footer-submenu {
    margin: 0 0 0 30px; }
  .partners-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 45px 20px 40px; }
    .partners-row:before {
      width: 128px;
      height: 216px; }
    .partners-row__col {
      width: 100%;
      padding: 0;
      border: none;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .partners-row__col:before {
        display: none; }
    .partners-row__content {
      width: 100%;
      padding: 0 20px 0 0;
      margin: 10px 0 0; }
  .partner-logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 178px;
    margin: 0 0 5px; }
  .partners-info {
    text-align: left; }
  .partners-info-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .partners-home {
    margin: 0 0 70px; }
    .partners-home .btn-group {
      margin: 58px auto 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .partners-home .btn-group .btn {
        margin: 0 auto 13px; }
        .partners-home .btn-group .btn:first-child {
          margin: 0 auto; }
  .btn-load {
    margin: 19px auto 0; }
  .sorting-tabs {
    margin: 0 auto 27px; }
    .sorting-tabs .nav-item {
      margin: 0 20px 14px 0; }
      .sorting-tabs .nav-item:last-child {
        margin: 0 0 14px; }
  .clients-home .subtitle-text {
    margin: 0 auto 34px; }
  .clients-item {
    margin: 0 0 10px;
    width: 33.3%;
    padding: 0 10px; }
  .projects-title .subtitle-text {
    font-size: 18px; }
  .webinars-home {
    margin: 0; }
  .home-module {
    padding: 118px 0 102px; }
    .home-module h3 {
      font-size: 20px;
      margin: 20px 0; }
    .home-module h1 {
      font-size: 30px;
      line-height: 38px; }
  .list-decor {
    font-size: 16px; }
    .list-decor li {
      margin: 0 0 30px;
      padding: 0 0 0 37px; }
  .description-module h2 {
    margin: 0 auto 29px; }
  .peculiarities-module-item {
    padding: 0 0 0 42px;
    width: 48%; }
    .peculiarities-module-item__icon {
      width: 28px;
      height: 37px; }
  .tab-content-module-wrapper__content {
    max-width: none;
    width: 100%; }
    .tab-content-module-wrapper__content .box-text {
      display: none; }
    .tab-content-module-wrapper__content h3 {
      text-align: center;
      margin: 0 auto 22px; }
  .module-system-list {
    max-width: none; }
  .tab-content-module {
    margin: 40px 0 0; }
    .tab-content-module h4 {
      font-size: 14px;
      margin: 0 0 55px;
      max-width: 230px; }
    .tab-content-module .btn {
      margin: 0 auto; }
  .tab-content-module-wrapper {
    margin: 0 0 25px; }
  .wrapper-content {
    padding: 40px 25px; }
  .cases {
    margin: 70px 0; }
    .cases h2 {
      text-align: center;
      margin: 0 0 23px; }
  .case-logo {
    margin: 0 auto 30px;
    max-width: 232px; }
  .case-home {
    margin: 0 0 53px; }
    .case-home h2 {
      margin: 0 auto 30px; }
  .case-content {
    max-width: none;
    width: 100%; }
    .case-content h3 {
      margin: 0 0 20px; }
  .case-details-item h3 {
    font-size: 20px;
    margin: 0 0 25px; }
  .case-details-item__image {
    margin: 24px 0; }
  .solution-section {
    margin: 0 0 50px; }
  .reviews-company-box:before {
    right: auto;
    left: 0;
    background: url("../img/shield-icon.svg") no-repeat center;
      background-size: 100%;
    width: 157px;
    height: 185px; }
  .reviews-company-box .reviews-box-company {
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 45px 0 23px; }
  .reviews-company-box .reviews-box-company__logo {
    margin: 0; }
  .reviews-company-box .reviews-box-author {
    margin: 0; }
  .reviews-company-box .box-text {
    line-clamp: 8;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    display: -moz-box;
    display: -webkit-box;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .title-wrapper h2 {
    white-space: normal; }
  .press-center-home {
    margin: 0; }
  .sorting-wrapper-clients {
    font-size: 22px; }
    .sorting-wrapper-clients .sorting-item {
      margin: 0 30px 0 0; }
  .events .reports-card {
    width: 100%;
    max-width: none; }
  .description-module-audit .wrapper-content:before {
    display: none; }
  .description-module-audit-slider-item {
    max-width: 400px; }
  .indexing-data {
    padding: 39px 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 0 36px; }
    .indexing-data:before {
      display: none; }
    .indexing-data__image {
      width: 100%;
      margin: 25px auto 0;
      min-width: auto;
      max-width: none; }
    .indexing-data__text {
      width: 100%;
      padding: 0; }
  .description-module-ms h4 {
    font-size: 24px; }
  .help-question h2 {
    margin: 0 auto 25px; }
  .help-question .box-text {
    max-width: none;
    margin: 0 0 26px; }
  .help-question h4 {
    max-width: 270px; }
  .help-question .btn {
    margin: 33px auto 0; }
  .help-question .wrapper-content {
    margin: -50px auto -20px; }
    .help-question .wrapper-content:before {
      width: 100%;
      max-width: 300px;
      height: 144px;
      right: auto;
      left: 50%;
      -webkit-transform: translate(-50%, 0) matrix(-1, 0, 0, 1, 0, 0);
              transform: translate(-50%, 0) matrix(-1, 0, 0, 1, 0, 0); }
  .tel {
    font-size: 24px; }
  .callback-help {
    padding: 67px 0 60px; }
    .callback-help .spectrum-demonstration__content {
      margin: 0; }
    .callback-help .form-callback {
      margin: 30px 0 0; }
    .callback-help .description {
      font-size: 16px;
      max-width: 280px; }
    .callback-help h2 {
      font-size: 20px;
      max-width: 260px;
      margin: 10px 0 20px; }
  .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  header .btn {
    display: none; }
  .phone-icon {
    margin: 0; }
  h2 {
    font-size: 18px; }
  .nav-tabs .nav-item {
    width: 100%;
    margin: 0 0 20px; }
  .nav-tabs .nav-link {
    padding: 0 0 10px; }
  .tab-content {
    margin: 22px 0 0; }
  .task-slider__text {
    font-size: 14px; }
  .press-center-slider {
    margin: 0;
    display: block;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .press-center-slider .slick-track {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; }
    .press-center-slider .slick-slide {
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      margin: 0 20px 0 0;
      height: auto;
      width: 252px; }
    .press-center-slider .slick-dots {
      margin: 37px auto 50px; }
      .press-center-slider .slick-dots li {
        width: 42px;
        margin: 0 14px 0 0; }
  .news-card-min {
    height: 100%; }
  .news-card__title {
    font-size: 16px; }
  .news-card__content, .news-card__image {
    width: 100%; }
  .news-card__image {
    height: 156px; }
  .news-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer-menu {
    margin: 0; }
    .footer-menu li {
      width: 100%;
      max-width: none;
      margin: 0 0 10px; }
      .footer-menu li:last-child {
        margin: 0; }
  .footer-submenu {
    display: none; }
  .footer-about {
    max-width: none;
    margin: 48px 0 0; }
  footer {
    background-size: 3220px;
    background-position: 27% center; }
  .footer-bottom {
    border: none;
    padding: 0;
    margin: 46px 0 0; }
  .partners-row {
    margin: 0 0 20px; }
    .partners-row ul {
      display: none; }
    .partners-row .btn {
      width: 100%; }
    .partners-row .box-text-hidden {
      max-height: 230px;
      overflow: hidden;
      position: relative;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(56.83%, #333333), color-stop(82.53%, rgba(51, 51, 51, 0)));
      background: linear-gradient(180deg, #333333 56.83%, rgba(51, 51, 51, 0) 82.53%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent; }
      .partners-row .box-text-hidden.open {
        max-height: none;
        overflow: visible;
        background: transparent;
        background-clip: initial;
        -webkit-text-fill-color: inherit; }
    .partners-row h3 {
      font-size: 20px; }
    .partners-row .box-text {
      font-size: 14px; }
  .btn-toggle-list, .btn-view-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .projects-slider {
    margin: 0; }
    .projects-slider .slick-slide {
      padding: 0;
      margin: 0 20px 0 0;
      width: 275px; }
    .projects-slider .slick-dots {
      margin: 46px 0 0;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .projects-slider .slick-dots li {
        margin: 0 14px 0 0;
        width: 41px; }
        .projects-slider .slick-dots li:last-child {
          margin: 0; }
  .projects-title {
    margin: 0 0 57px; }
    .projects-title .subtitle-text {
      font-size: 14px;
      max-width: 200px; }
  .projects-card {
    padding: 52px 18px 45px; }
    .projects-card .btn {
      margin: 17px auto 0; }
  .sorting-wrapper-clients {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 35px; }
    .sorting-wrapper-clients .sorting-item {
      padding: 0 0 2px;
      margin: 0 auto 8px; }
      .sorting-wrapper-clients .sorting-item:last-child {
        margin: 0 auto; }
  .calendar-events h2 {
    text-align: center; }
  .calendar-events .btn {
    width: 100%;
    margin: 34px 0 0; }
  .calendar-events-card {
    max-width: 291px; }
    .calendar-events-card__content {
      padding: 75px 16px 34px; }
    .calendar-events-card__title {
      font-size: 18px;
      margin: 0 0 20px; }
    .calendar-events-card .box-text {
      margin: 0 0 66px;
      max-height: 82px;
      overflow: hidden; }
    .calendar-events-card__footer {
      font-size: 14px; }
      .calendar-events-card__footer .link-news {
        display: none; }
    .calendar-events-card .btn {
      display: none; }
  .calendar-events-slider {
    width: calc(100% + 15px);
    margin: 0 -15px 0 0; }
    .calendar-events-slider .slick-arrow {
      width: 38px;
      height: 38px;
      padding: 12px;
      top: 65%; }
    .calendar-events-slider .slick-next {
      right: 15px; }
    .calendar-events-slider .slick-prev {
      left: 0; }
    .calendar-events-slider .slick-list {
      margin: 0; }
    .calendar-events-slider .slick-slide {
      padding: 0;
      margin: 0 20px 0 0;
      width: 291px; }
  .events-card-max, .events-card {
    width: 291px;
    padding: 13px 20px 34px 16px; }
    .events-card-max .events-card__title, .events-card .events-card__title {
      font-size: 18px;
      font-weight: 500;
      margin: 0 0 30px; }
    .events-card-max .events-card__footer .link-news, .events-card .events-card__footer .link-news {
      display: none; }
  .events-slider {
    width: calc(100% + 15px);
    margin: 0 -15px 0 0; }
    .events-slider .slick-slide {
      width: 291px;
      padding: 0;
      margin: 0 20px 0 0; }
    .events-slider .slick-list {
      margin: 0; }
    .events-slider .slick-arrow {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      z-index: 1;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background: #0E1D42;
      padding: 12px;
      fill: #fff; }
    .events-slider .slick-prev {
      left: 0; }
    .events-slider .slick-next {
      right: 15px;
      left: auto; }
    .events-slider .slick-disabled {
      opacity: 0; }
  .reports-card {
    width: 255px;
    min-height: 392px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .reports-card .news-card__footer {
      display: none; }
    .reports-card .news-card__title {
      font-size: 18px;
      margin: 0;
      color: #fff; }
    .reports-card .box-text, .reports-card .image-gallery {
      display: none; }
    .reports-card .news-card__image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1; }
    .reports-card .news-card__body {
      background: transparent;
      padding: 30px 15px; }
  .reports {
    margin: 0 0 97px; }
  .events-section {
    margin: 42px 0 46px; }
  .title-wrapper {
    margin: 0 0 15px; }
  .reports-slider {
    width: calc(100% + 15px);
    margin: 0 -15px 20px 0; }
    .reports-slider .slick-list {
      margin: 0; }
    .reports-slider .slick-slide {
      padding: 0;
      margin: 0 20px 0 0; }
  .home-module {
    background: url("../img/home-module-bg-mobile.jpg") no-repeat center top;
      background-size: cover; }
  .wrapper-content {
    margin: -30px auto -50px;
    padding: 30px 16px 70px; }
  .peculiarities-module-item {
    display: none;
    width: 100%; }
    .peculiarities-module-item:first-child, .peculiarities-module-item:nth-child(3), .peculiarities-module-item:nth-child(6) {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      display: block; }
  .module-tabs .nav-item {
    margin: 0 0 8px; }
    .module-tabs .nav-item:last-child {
      margin: 0; }
  .module-system .wrapper-content {
    padding: 27px 12px 40px; }
  .module-tabs .nav-link {
    padding: 17px 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .cases-col {
    display: none; }
    .cases-col:nth-child(-n+2) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .cases-card__title {
    margin: 0 0 20px; }
  .cases-card .box-text {
    margin: 0 0 33px; }
  .cases .mb-30 {
    margin-bottom: 20px; }
  .cases .btn-toggle {
    width: 100%; }
  .solution-slider {
    padding: 0 0 44px; }
    .solution-slider .slick-arrow {
      top: auto;
      bottom: 0; }
    .solution-slider .slick-next {
      right: calc(50% - 25px); }
    .solution-slider .slick-prev {
      right: auto;
      left: calc(50% - 25px); }
  .solution-section h3 {
    max-width: 290px; }
  .blog {
    margin: 0 0 84px; }
  .news-slider .slick-dots {
    margin: 37px 0 0; }
  .news-slider .news-card {
    width: 252px; }
  .blog h2 {
    width: 100%; }
  .publication-slider .news-card {
    width: 100%; }
  .publication-slider .slide {
    margin: 0 0 20px; }
    .publication-slider .slide:last-child {
      margin: 0; }
  .news-section {
    margin: 0 0 76px; }
  .publication-section {
    margin: 0 0 55px; }
  .events {
    margin: 0 0 65px; }
    .events .btn {
      margin: 14px auto 48px;
      width: 100%; }
    .events .calendar-events-card__date {
      margin: 0; }
    .events .events-card {
      width: 100%;
      max-width: none; }
    .events .news-card {
      height: auto;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 100%;
      color: #333333;
      min-height: auto; }
      .events .news-card .news-card__content {
        padding: 115px 0 0; }
      .events .news-card .news-card__title {
        color: #0E1D42; }
      .events .news-card .box-text {
        display: block;
        margin: 50px 0 0; }
      .events .news-card .news-card__footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .events .news-card .link-news {
        fill: #E12651; }
      .events .news-card .image-gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        right: auto;
        left: 13px;
        top: 50px; }
      .events .news-card .news-card__body {
        background: #fff;
        padding: 0 20px 30px; }
      .events .news-card .news-card__image {
        position: absolute;
        right: 0;
        top: 0;
        width: 61px;
        height: 80px;
        left: auto;
        z-index: 1; }
        .events .news-card .news-card__image .news-card__date {
          display: none; }
      .events .news-card .news-card__date {
        position: absolute;
        left: 13px;
        top: 22px;
        right: auto;
        padding: 0;
        background: transparent; }
      .events .news-card .btn-play {
        width: 16px;
        height: 17px; }
  .events-slider-v2 {
    width: 100%; }
    .events-slider-v2 .slide {
      margin: 0 0 20px;
      display: none; }
      .events-slider-v2 .slide:nth-child(-n+2) {
        display: block; }
      .events-slider-v2 .slide:last-child {
        margin: 0; }
    .events-slider-v2 .events-card__footer .link-news {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .blog-slider .slide {
    margin: 0 0 20px; }
    .blog-slider .slide:last-child {
      margin: 0; }
  .blog-slider .news-card {
    width: 100%; }
  .description-module-audit-slider-item {
    max-width: 264px; }
  .description-module .list-decor {
    margin: 20px 0 0; }
  .description-module-audit-slider {
    width: 100%; }
    .description-module-audit-slider .slick-arrow {
      width: 30px;
      height: 30px;
      padding: 8px;
      top: 54px;
      -webkit-transform: none;
              transform: none; }
    .description-module-audit-slider .slick-next {
      right: -15px; }
    .description-module-audit-slider .slick-prev {
      left: -15px; }
  .peculiarities-module {
    margin: 60px 0 0; }
  .active-directory__image {
    margin: 0 auto;
    max-width: 274px; }
  .description-module-ms h4 {
    text-align: center;
    font-size: 18px;
    margin: 0 auto 25px; }
  .events-fix-module {
    margin: 0 0 20px; }
  .home-help {
    padding: 146px 0 72px; } }

@media only screen and (max-width: 420px) {
  .regulatory-requirements-box:before {
    width: 87px;
    height: 160px; }
  .regulatory-requirements-box__icon {
    width: 95px;
    height: 75px; }
    .regulatory-requirements-box__icon img {
      min-width: 78px; }
  .regulatory-requirements-box__text {
    width: calc(100% - 95px);
    padding: 20px 16px; }
    .regulatory-requirements-box__text span {
      margin: 22px 0 0; }
  .risks-box {
    min-width: 302px;
    max-width: 340px; }
    .risks-box__icon {
      width: 150px; }
      .risks-box__icon:before {
        width: 148px;
        height: 136px; }
      .risks-box__icon img {
        max-width: 39px; }
    .risks-box__text {
      width: calc(100% - 140px); }
  .why-important-box {
    margin: 0 45px; }
  .sorting-item {
    display: none;
    margin: 0 0 0 20px; }
    .sorting-item.active {
      display: block; }
  .clients-item {
    width: 50%; }
  .sorting-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .sorting-tabs .nav-item {
      display: block;
      margin: 0 0 14px; }
      .sorting-tabs .nav-item:last-child {
        margin: 0; }
    .sorting-tabs .nav-link {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
  .sorting-wrapper-clients .sorting-item {
    display: block; }
  .module-system-list__arrow {
    display: none; }
  .module-system-list__item {
    color: #E12651; }
  .solution-item {
    width: 269px;
    padding: 19px 14px 19px 25px; }
    .solution-item__icon {
      width: 36px;
      min-width: 36px; }
    .solution-item__body {
      padding: 0 0 0 24px;
      margin: 0 0 0 24px; } }

@media only screen and (max-width: 380px) {
  .why-important-box {
    margin: 0 30px; } }

@media only screen and (max-width: 350px) {
  .why-important-box {
    margin: 0 10px; }
  .home-module h1 br {
    display: none; } }

@media (min-width: 992px) {
  .risks-wrapper .mCSB_container_wrapper {
    margin-right: 0; }
  .risks-wrapper .mCSB_scrollTools_horizontal {
    display: none !important; }
  .risks-wrapper .mCSB_container_wrapper {
    margin-bottom: 0; }
  .risks-wrapper .mCSB_container {
    padding: 0;
    width: 100% !important; }
  .risks-wrapper .mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical {
    bottom: 0; } }
