.modal-dialog {
  max-width: none; }

.modal-content {
  border: none;
    border-radius: 0;
  background: url("../img/modal-bg1.jpg") no-repeat center;
    background-size: cover;
  padding: 92px 0 81px;
  color: #fff; }
  .modal-content .logo-spectrum {
    width: 100%; }

.modal-header {
  border: none;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.modal-title {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 360px;
  margin: 11px 0 20px; }

.modal-description {
  font-size: 20px;
  font-weight: bold;
  max-width: 280px; }

.modal-description-test {
  font-size: 24px;
  font-weight: 500;
  max-width: 280px; }

.modal-body {
  padding: 0;
  max-width: 390px;
  margin-left: auto; }

#testModal .modal-content {
  background: url("../img/modal-bg2.jpg") no-repeat center;
    background-size: cover; }
