@font-face {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Raleway/Raleway-Medium.eot");
  src: url("../fonts/Raleway/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway/Raleway-Medium.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  background: #F3F4FA;
  color: #333333; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 0 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  border: none;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.262745);
    border-radius: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #fff; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #fff; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #fff; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #fff; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #fff; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.input-wrap {
  position: relative; }
  .input-wrap:before {
    content: '';
    bottom: 0;
    left: 0;
    height: 1.5px;
    background: #E12651;
    width: 42px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    position: absolute; }
  .input-wrap:hover:before {
    width: 100%; }

label {
  display: block;
  width: 100%;
  margin: 0 0 33px; }
  label:last-child {
    margin: 0; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0;
  position: relative;
  z-index: 1; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 65px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  padding: 0 35px; }

.btn-accent {
  color: #fff;
  background: linear-gradient(85.76deg, #FFBF00 -207.26%, #E12651 58.28%);
  -webkit-box-shadow: 0 7px 21px rgba(225, 38, 81, 0.68);
          box-shadow: 0 7px 21px rgba(225, 38, 81, 0.68);
  overflow: hidden; }
  .btn-accent:hover {
    background: -webkit-gradient(linear, right top, left top, color-stop(-207.26%, #FFBF00), color-stop(58.28%, #E12651));
    background: linear-gradient(to left, #FFBF00 -207.26%, #E12651 58.28%);
    color: #fff; }
  .btn-accent:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 78px;
    height: 54px;
    z-index: -1;
    background: url("../img/shield.svg") no-repeat center;
      background-size: 100%; }

.btn-border {
  border: 1px solid #394664;
  height: 67px; }

.btn-sm {
  height: 54px; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

strong, b {
  font-weight: bold;
  display: inline-block; }

ul, ol {
  padding: 0 0 0 20px; }

.my-ul {
  list-style: none;
  padding: 0; }

.container {
  max-width: 1200px; }

.color-accent {
  color: #E12651; }

h1 {
  font-size: 46px;
  font-weight: bold; }
