@import "vars"

/*==========  section home ==========*/
.home-wrapper
  background: linear-gradient(22.87deg, #0E1D42 13%, #E12651 91.31%)
  color: #fff

.home
  position: relative

.home-image
  position: absolute
  top: 0
  left: 0
  width: 100%

/*==========  section home end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/